/* Styles pour centrer le formulaire */
.container {
    display: flex;
    justify-content: center; /* Centre horizontalement */
    align-items: center; /* Centre verticalement */
    height: 100vh; /* Prend toute la hauteur de la vue */
    background-color: #ffffff; /* Couleur de fond légère */
}
p {
    text-align: center;
    margin-bottom: 1.5rem;
    color: #666;
}

.form-container {
    background: white;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Ombre légère */
    width: 100%;
    max-width: 400px; /* Largeur maximale du formulaire */
}

.p-error{
    color: red;
}

h2 {
    text-align: center;
    margin-bottom: 1rem;
    color: #333; /* Couleur de texte sombre */
}

button {
    width: 100%;
    margin-top: 1rem;
}

.form-container {
    animation: fadeIn 0.5s ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}