<div class="container">
    <p-toast></p-toast>
    <div class="form-container">
        <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">
            <h2>Réinitialiser le mot de passe</h2>

            <p-floatLabel variant="in">
                <input type="password" pInputText id="newPassword" formControlName="newPassword" class="form-control" style="width: 100%;"/>
                <label for="newPassword">Nouveau mot de passe</label>
            </p-floatLabel>
            <span *ngIf="resetPasswordForm.controls['newPassword'].invalid && (resetPasswordForm.controls['newPassword'].dirty || resetPasswordForm.controls['newPassword'].touched)" class="block p-error">
                <div *ngIf="resetPasswordForm.controls['newPassword'].errors?.['required']">Mot de passe requis *</div>
                <div *ngIf="resetPasswordForm.controls['newPassword'].errors?.['minlength']">Au moins 6 caractères *</div>
            </span>
            <div style="margin-top: 10px;">
            <p-floatLabel variant="in">
                <input type="password" pInputText id="confirmPassword" formControlName="confirmPassword" class="form-control" style="width: 100%;"/>
                <label for="confirmPassword">Confirmer le mot de passe</label>
            </p-floatLabel>
            <span *ngIf="resetPasswordForm.hasError('mismatch')" class="block p-error">Les mots de passe ne correspondent pas *</span>
        </div>
            <button type="submit" pButton class="btn btn-primary" [disabled]="resetPasswordForm.invalid || loading">
                <span *ngIf="!loading">Réinitialiser</span>
                <span *ngIf="loading">Réinitialisation en cours...</span>
            </button>

            <p class="text-center">
                <a href="/login" style="color: black;">Retour à la connexion</a>
            </p>
        </form>
    </div>
</div>