<div class="container">
    <p-toast></p-toast>
    <div class="form-container">
        <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">
            <h2>Mot de passe oublié</h2>
            <p>Entrez votre email pour recevoir un lien de réinitialisation.</p>

            <p-floatLabel variant="in">
                
                <input pInputText id="email" formControlName="email" class="form-control" style="width: 100%;"/>
                <label for="email">Email</label>
            </p-floatLabel>
            <span *ngIf="forgotPasswordForm.controls['email'].invalid && (forgotPasswordForm.controls['email'].dirty || forgotPasswordForm.controls['email'].touched)" class="block p-error">
                <div *ngIf="forgotPasswordForm.controls['email'].errors?.['required']" style="color: red;">L'email est requis *</div>
                <div *ngIf="forgotPasswordForm.controls['email'].errors?.['email']">Format email invalide *</div>
            </span>
            
            <button pButton type="submit" class="btn btn-primary" [disabled]="forgotPasswordForm.invalid || loading">
                <span *ngIf="!loading">Envoyer</span>
                <span *ngIf="loading">Envoi en cours...</span>
            </button>

            <p class="text-center">
                <a href="/login" style="color: black;">Retour à la connexion</a>
            </p>
        </form>
    </div>
</div>